aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/bin/aws'
        jobName = { "nf-${task.process.replaceAll('[:_]', '-').toLowerCase()}-${task.index}" }
    }
}

process {
    executor = 'awsbatch'
    queue = 'scrna-seq-job-queue'
    container = 'amazonlinux:2'
    
    withName: '*FASTQC*' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    
    withName: '*CELLRANGER*' {
        container = 'nfcore/cellranger:7.1.0'
    }
    
    withName: '*SEURAT*' {
        container = 'satijalab/seurat:5.0.0'
    }
}

docker.enabled = true
workDir = 's3://scrna-pipeline-nwhite-work/work'
