process.executor = 'awsbatch'
process.queue = 'scrna-seq-job-queue'
aws.region = 'us-east-1'
aws.batch.cliPath = '/usr/local/bin/aws'
aws.batch.jobName = { "nf${task.index}" }  // Just nf1, nf2, nf3, etc.
docker.enabled = true
workDir = 's3://scrna-pipeline-nwhite-work/work'

process {
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: 'CELLRANGER.*' {
        container = 'nfcore/cellranger:7.1.0'
    }
    withName: 'SEURAT.*' {
        container = 'satijalab/seurat:5.0.0'
    }
}
